//         ______           _                                       __ 
//        / ____/___ _   __(_)________  ____  ____ ___  ___  ____  / /_
//       / __/ / __ \ | / / / ___/ __ \/ __ \/ __ `__ \/ _ \/ __ \/ __/
//      / /___/ / / / |/ / / /  / /_/ / / / / / / / / /  __/ / / / /_  
//     /_____/_/ /_/|___/_/_/   \____/_/ /_/_/ /_/ /_/\___/_/ /_/\__/  
//                                                                    

environment {
    DISPLAY ":0"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"

    // Wayland Platform Settings
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"

    // GTK Settings
    GDK_BACKEND "wayland,x11"

    // Firefox Wayland
    MOZ_ENABLE_WAYLAND "1"
    MOZ_DBUS_REMOTE "1"

    // Java Applications
    _JAVA_AWT_WM_NONREPARENTING "1"

    // SDL Applications
    SDL_VIDEODRIVER "wayland,x11"

    // CLUTTER Applications
    CLUTTER_BACKEND "wayland"

    // Performance
    VDPAU_DRIVER "va_gl"
    LIBVA_DRIVER_NAME "iHD"

    // Input method
    GTK_IM_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
    XMODIFIERS "@im=fcitx"
    SDL_IM_MODULE "fcitx"
}
