//          ____        __                    
//         / __ \__  __/ /__  _____
//        / /_/ / / / / / _ \/ ___/
//       / _, _/ /_/ / /  __(__  ) 
//      /_/ |_|\__,_/_/\___/____/  
//                                                  


// Niri overview backdrop image
layer-rule {
    match namespace="awww-daemon-backdrop"
    place-within-backdrop true
}

// Opacity for inactive windows
window-rule {
    match is-active=false
    opacity 0.9
}

// Background effect for all windows
window-rule {
    match app-id=r#".*"#

    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 2
    }
}

// Opacity and background effect for specific applications
window-rule {
    match app-id=r#"thunar"#
    match app-id=r#"alacritty"#
    match app-id=r#"code"#
    opacity 0.8

    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 2
    }
}

// Rounded corners for all windows
window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

// Rules for specific applications
window-rule {
    match app-id=r#"microsoft-edge-stable"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"microsoft-edge-stable"#
    match app-id=r#"code"#
    open-maximized true
}

window-rule {
    match app-id=r#"thunar"#
    default-column-width { proportion 0.65; }
}

// Rules for xdg-desktop-portal-gtk
window-rule {
    match app-id=r#"xdg-desktop-portal-gtk"#

    open-floating true
    default-floating-position x=0 y=0
    min-width 400
    min-height 600
}

// Rules for specific layers
layer-rule {
    match namespace="waybar"

    opacity 1.0
    shadow {
        on
        softness 100
        spread 12
        offset x=0 y=0
        draw-behind-window true
        color "#00000064"
    }
}

layer-rule {
    match namespace="rofi"

    opacity 0.9
    geometry-corner-radius 20
    background-effect {
        blur true
        xray false
        noise 0.3
        saturation 1.5
    }
    shadow {
        on
        softness 80
        spread 20
        offset x=0 y=0
        draw-behind-window true
        color "#00000064"
    }
}

// Rules for hakuspace
window-rule {
    match app-id=r#"seycava"#
    match app-id=r#"seylavat"#
    match app-id=r#"seyclock"#

    default-column-width { proportion 0.4; }
}

window-rule {
    match app-id=r#"seycmd"#

    default-column-width { proportion 0.6; }
}

// Rules for cava underbar
window-rule {
    match app-id=r#"cavaunderbar"#

    open-floating true
    open-focused false
    
    default-floating-position x=0 y=-52 relative-to="top-left"
    min-width 1920
    min-height 70
    max-height 70
    opacity 0.6

    background-effect {
        xray false
        blur false
        noise 0
        saturation 1
    }

    shadow {
        off
    }
}

// Rules for desktop icons
window-rule {
    match app-id="desktop_icons.py"
    match title="Rename"

    open-floating true
    min-width 300
    min-height 100
}
